<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Membership</title>
</head>
<body>
  <form action="/membership" method="POST">
    <h2> Become a Member! </h2>
    <% if(currentUser.membership_status) { %>
      <p> You are already a member :) </p>
    <% } else { %>
    <label>
      Enter Code:
      <input type="text" name="membership" id="membership">
    </label>
    <% } %>
  </form>
  <a href="/"> Return Home </a>
</body>
</html>