<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>t3rec5</title>
</head>
<body>
  <h2> You found the secret. Head over to <a href="/membership"> /membership</a> and enter %o4kk$6jhE£ to claim your membership.</h2>
</body>
</html>